body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #161694;
  }
  
  .container h2 {
    color:white;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    color: white;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"],
  .form-group input[type="password"],
  .form-group select {
    width: 94%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-group button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: #d3d3d3;
    color: black;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: #999999;
  }

  .container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
